<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calc Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB6D803D1A2CBB980037A227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6D80521A2CBB980037A227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6D80661A2CC0920037A227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB6D80731A2CC0920037A227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
